@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 160 84% 39%;
    --primary-foreground: 160 47% 11%;

    --secondary: 160 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 160 33% 17%;
    --muted-foreground: 160 20% 65%;

    --accent: 160 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 160 33% 17%;
    --input: 160 33% 17%;
    --ring: 160 76% 48%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
